{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- offer banner -->
    <div class="col-lg-12 offers">
        <p>sale - up to 60% off </p>
    </div>
  
    <!-- home page section -->
    <a href="{% url 'products' %}?category=womens_sportswear,womens_jeans">
    <section class="container home"></section>
    </a>

    <!-- category section -->
    <section class="container">
        <h2 class="title">shop by category</h2>
        <div class="row align-items-start">
            <div class="col-sm-6 col-6 mt-4 col-lg-3 pad">
                <div class="card">
                    <div class="hover1">
                        <figure>
                            <a href="{% url 'products' %}?category=mens_shoes,womens_shoes">
                            <img src="{{ MEDIA_URL }}900.jpg" class="card-img-top category-1" alt="footwear"></a>
                        </figure>
                    </div>
                   
                    <div class="card-body">
                        <h5 class="card-title text-center">footwear</h5>
                        <p class="card-text"></p>
                        <a href="{% url 'products' %}?category=mens_shoes,womens_shoes" class="shop-now-button btn w-100 btn-dark">SHOP NOW</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-6 mt-4 col-lg-3 pad">
                <div class="card">
                    <div class="hover1">
                        <figure>
                            <a href="{% url 'products' %}?category=womens_sportswear,womens_jeans">
                            <img src="{{ MEDIA_URL }}111.jpg" class="card-img-top category-1" alt="womens category"></a>
                        </figure>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title ">women's</h5>
                        <p class="card-text"></p>
                        <a href="{% url 'products' %}?category=womens_sportswear,womens_jeans" class="shop-now-button btn w-100 btn-dark">SHOP NOW</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-6 mt-4 col-lg-3 pad">
                <div class="card">
                    <div class="hover1">
                        <figure>
                            <a href="{% url 'products' %}?category=mens_sportswear,mens_shirts">
                            <img src="{{ MEDIA_URL }}404.jpg" class="card-img-top category-1" alt="mens category"></a>
                        </figure>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Men's</h5>
                        <p class="card-text"></p>
                        <a href="{% url 'products' %}?category=mens_sportswear,mens_shirts" class="shop-now-button btn w-100 btn-dark">SHOP NOW</a>
                    </div>
                </div>
            </div>

            <div class="h-100 col-sm-6 col-6 mt-4 col-lg-3 pad">
                <div class="card">
                    <div class="hover1">
                        <figure>
                            <a href="{% url 'products' %}?category=bags">
                            <img src="{{ MEDIA_URL }}950.jpg" class="card-img-top category-1" alt="bags"></a>
                        </figure>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">
                            Bags</h5>
                        <p class="card-text"></p>
                        <a href="{% url 'products' %}?category=bags" class="shop-now-button btn w-100 btn-dark">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="title mb-4">shop the latest</h2>
        <div class="row align-items-start">
            <!-- Flickity carousel -->
            <div class="col-lg-12 col-sm-12">
                <div class="carousel" data-flickity='{ "wrapAround": true }'>
                    <div class="carousel-cell">

                        <i class="far fa-heart" onclick="myWishList()" id="wishList"></i>
                        <i class="fas fa-heart" onclick="addwishList()" id="addList"></i>

                        <a href="{% url 'products' %}102">
                        <img src="{{ MEDIA_URL }}401.jpg" class="carousel-img" alt="Sportswear"></a> 
                        <p class="lead mb-0 text-left font-weight-bold mt-2">£50.00</p>
                        <p class="lead mb-4 text-left ">Adidas Tracksuit</p>
                    </div>     
                    <div class="carousel-cell">

                        <i class="far fa-heart" onclick="myWishList()" id="wishList"></i>
                        <i class="fas fa-heart" onclick="addwishList()" id="addList"></i>

                        <a href="{% url 'products' %}134">
                        <img src="{{ MEDIA_URL }}402.jpg" class="carousel-img" alt="Sportswear"></a> 
                        <p class="lead mb-0 text-left font-weight-bold mt-2">£35.00</p>
                        <p class="lead mb-4 text-left ">Puma Top</p>
                    </div>
            
                    <div class="carousel-cell">

                        <i class="far fa-heart" onclick="myWishList()" id="wishList"></i>
                        <i class="fas fa-heart" onclick="addwishList()" id="addList"></i>

                        <img src="{{ MEDIA_URL }}403.jpg" class="carousel-img" alt="Sportswear">
                        <p class="lead mb-0 text-left font-weight-bold mt-2">£55.00</p>
                        <p class="lead mb-4 text-left ">Adidas Tacksuit</p>
                    </div>
                    <div class="carousel-cell">

                        <i class="far fa-heart" onclick="myWishList()" id="wishList"></i>
                        <i class="fas fa-heart" onclick="addwishList()" id="addList"></i>

                        <a href="{% url 'products' %}138">
                        <img src="{{ MEDIA_URL }}404.jpg" class="carousel-img" alt="Sportswear"></a> 
                        <p class="lead mb-0 text-left font-weight-bold mt-2">£35.00</p>
                        <p class="lead mb-4 text-left ">Puma Hoodie</p>
                    </div>
                    <div class="carousel-cell">

                        <i class="far fa-heart" onclick="myWishList()" id="wishList"></i>
                        <i class="fas fa-heart" onclick="addwishList()" id="addList"></i>

                        <img src="{{ MEDIA_URL }}405.jpg" class="carousel-img" alt="Sportswear">
                        <p class="lead mb-0 text-left font-weight-bold mt-2">£75.00</p>
                        <p class="lead mb-4 text-left ">Puma Tacksuit</p>
                    </div>
                    <div class="carousel-cell">

                        <i class="far fa-heart" onclick="myWishList()" id="wishList"></i>
                        <i class="fas fa-heart" onclick="addwishList()" id="addList"></i>

                        <img src="{{ MEDIA_URL }}903.jpg" class="carousel-img" alt="Sportswear">
                        <p class="lead mb-0 text-left font-weight-bold mt-2">£255.00</p>
                        <p class="lead mb-4 text-left ">MCM Jacket</p>
                    </div>
                    <div class="carousel-cell">

                        <i class="far fa-heart" onclick="myWishList()" id="wishList"></i>
                        <i class="fas fa-heart" onclick="addwishList()" id="addList"></i>

                        <img src="{{ MEDIA_URL }}911.jpg" class="carousel-img" alt="Sportswear">
                        <p class="lead mb-0 text-left font-weight-bold mt-2">£255.00</p>
                        <p class="lead mb-4 text-left ">MCM Jacket</p>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="title mb-4 mt-0">Our Top Picks</h2>
        <div class="row align-items-start">
            <!-- Flickity carousel -->
            <div class="col-lg-12 col-sm-12">
                <div class="carousel" data-flickity='{ "wrapAround": true }'>
                    <div class="carousel-cell">
                   
                            <i class="far fa-heart" onclick="myWishList()" id="wishList"></i>
                            <i class="fas fa-heart" onclick="addwishList()" id="addList"></i>
                   
                        <a href="{% url 'products' %}101">
                        <img src="{{ MEDIA_URL }}101.jpg" class="carousel-img" alt="Sportswear"></a> 
                        <p class="lead mb-0 text-left font-weight-bold mt-2">£60.00</p>
                        <p class="lead mb-4 text-left ">Adidas Tracksuit</p>
                    </div>     
                    <div class="carousel-cell">
                  
                        <i class="far fa-heart" onclick="myWishList()" id="wishList"></i>
                        <i class="fas fa-heart" onclick="addwishList()" id="addList"></i>
                      
                        <a href="{% url 'products' %}101">
                        <img src="{{ MEDIA_URL }}102.jpg" class="carousel-img" alt="Sportswear"></a> 
                        <p class="lead mb-0 text-left font-weight-bold mt-2">£35.00</p>
                        <p class="lead mb-4 text-left ">Adidas Bottoms</p>
                    </div>
                    <div class="carousel-cell">

                        <i class="far fa-heart" onclick="myWishList()" id="wishList"></i>
                        <i class="fas fa-heart" onclick="addwishList()" id="addList"></i>
                       
                        <a href="{% url 'products' %}104">
                        <img src="{{ MEDIA_URL }}108.jpg" class="carousel-img" alt="Sportswear"></a>
                        <p class="lead mb-0 text-left font-weight-bold mt-2">£35.00</p>
                        <p class="lead mb-4 text-left ">Nike Sports Top</p>
                    </div>
                    <div class="carousel-cell">
                       
                        <i class="far fa-heart" onclick="myWishList()" id="wishList"></i>
                        <i class="fas fa-heart" onclick="addwishList()" id="addList"></i>
                    
                        <a href="{% url 'products' %}102">
                        <img src="{{ MEDIA_URL }}104.jpg" class="carousel-img" alt="Sportswear"></a>
                        <p class="lead mb-0 text-left font-weight-bold mt-2">£30.00</p>
                        <p class="lead mb-4 text-left ">Nike Hoodie</p>
                    </div>
                    <div class="carousel-cell">
                       
                        <i class="far fa-heart" onclick="myWishList()" id="wishList"></i>
                        <i class="fas fa-heart" onclick="addwishList()" id="addList"></i>
                       
                        <a href="{% url 'products' %}98">
                        <img src="{{ MEDIA_URL }}121.jpg" class="carousel-img" alt="Sportswear"></a>
                        <p class="lead mb-0 text-left font-weight-bold mt-2">£35.00</p>
                        <p class="lead mb-4 text-left ">Nike Hoodie</p>
                    </div>
                    <div class="carousel-cell">

                        <i class="far fa-heart" onclick="myWishList()" id="wishList"></i>
                        <i class="fas fa-heart" onclick="addwishList()" id="addList"></i> 

                        <a href="{% url 'products' %}108">
                        <img src="{{ MEDIA_URL }}125.jpg" class="carousel-img" alt="Sportswear"></a>
                        <p class="lead mb-0 text-left font-weight-bold mt-2">£20.00</p>
                        <p class="lead mb-4 text-left ">Puma t-shirt</p>
                    </div>
                    <div class="carousel-cell">

                        <i class="far fa-heart" onclick="myWishList()" id="wishList"></i>
                        <i class="fas fa-heart" onclick="addwishList()" id="addList"></i>

                        <a href="{% url 'products' %}103">
                        <img src="{{ MEDIA_URL }}107.jpg" class="carousel-img" alt="Sportswear"></a> 
                        <p class="lead mb-0 text-left font-weight-bold mt-2">£35.00</p>
                        <p class="lead mb-4 text-left ">Nike Shirt</p>
                    </div>
                </div>
            </div>
        </div> 
    </section>

    <div class="app-store">
        <div class="app">
            <h1>Free Delivery When You Spend Over £50</h1>
            <img src="{{ MEDIA_URL }}delivery.png"
            style="width: 250px;" alt="app logo">
            <div class="app-store-logo">
            </div>
        </div>
    </div>
{% endblock %}