{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- home page section -->
<section class="container h-100">
    <div class="home mt-5">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <!--<h1 class="display-4 logo-font main-text-black">
                    20% off everything + free delivery-->
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}"
                            class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row align-items-start">
            <div class="col-sm-6 col-lg-3">
                <a href="{% url 'products' %}">
                    <img class="category-1" src="/media/sneakers1.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-6 col-lg-3">
                <a href="{% url 'products' %}">
                    <img class="category-2" src="/media/sneakers2.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-6 col-lg-3">
                <a href="{% url 'products' %}">
                    <img class="category-3" src="/media/sneakers5.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-6 col-lg-3">
                <a href="{% url 'products' %}">
                    <img class="category-4" src="/media/sneakers6.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-12 col-lg-12">
                <a href="{% url 'products' %}">
                    <img class="banner" src="/media/women-header.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- category section -->

<div class="container category"></div>

<!--Footer-->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-3 text-center">
                    <ul>
                        <li class="h5 mb-3">Payment methods we accept</li>
                        <div class="app-logo">
                            <img src="media/visa.png" alt="payment">
                            <img src="media/mastercard.png" alt="payment">
                            <img src="media/visa.png" alt="payment">
                            <img src="media/mastercard.png" alt="payment">
                        </div>
                        <i class="fab fa-facebook-f social-media"></i>
                        <i class="fab fa-twitter social-media"></i>
                        <i class="fab fa-instagram social-media"></i>
                        <i class="fab fa-pinterest-p social-media"></i>
                        <i class="fab fa-youtube social-media"></i>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-3 text-center">
                    <ul>
                        <li class="h5">Useful Links</li>
                        <li>Coupons</li>
                        <li>Blog post</li>
                        <li>Careers</li>
                        <li>Affiliates</li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-3 text-center">

                    <ul>
                        <li class="h5">Follow us</li>
                        <li class="links">Facebook</li>
                        <li class="links">Twitter</li>
                        <li class="links">Instagram</li>
                        <li class="links">YouTube</li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-3 text-center">
                    <ul>
                        <li class="h5">Customer Help</li>
                        <li>Contact Us</li>
                        <li>Returns</li>
                        <li>Help & FAQs</li>
                        <li>Store Finder</li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="text-center">
                Copyright Limited &copy; 2020. All Rights Reserved
            </div>
        </div>
    </div>
</footer>

{% endblock %}