{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100 home">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                20% off everything + free delivery
            </h1>
            <h5 class="text-white display-6">t&cs apply. minimum spend £50</h5>
            <div class="my-5">
                <h4>
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<!-- category section -->
<section class="container h-100">
    <div class="row align-items-start">
        <div class="col-12 col-sm-12 col-lg-3">
            <a href="#">
                <div class="category-1">
                    <button type="button" class="center-btn mg-12 btn btn-primary btn-lg">Shop Now</button>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-12 col-lg-3">
            <a href="#">
                <div class="category-2"></div>
            </a>
        </div>
        <div class="col-12 col-sm-12 col-lg-3">
            <a href="#">
                <div class="category-3"></div>
            </a>
        </div>
        <div class="col-12 col-sm-12 col-lg-3">
            <a href="#">
                <div class="category-4"></div>
            </a>
        </div>
    </div>
</section>
<!--Footer-->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Payment methods we accept</h3>
                    <div class="app-logo">
                        <img src="images/visa.png" alt="payment">
                        <img src="images/mastercard.png" alt="payment">
                        <img src="images/visa.png" alt="payment">
                        <img src="images/mastercard.png" alt="payment">
                    </div>
                </div>
                <div class="footer-col-2">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog post</li>
                        <li>Careers</li>
                        <li>Affiliates</li>
                        <li>Discount</li>
                    </ul>
                </div>
                <div class="footer-col-3">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>YouTube</li>
                        <li>SnapChat</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Customer Help</h3>
                    <ul>
                        <li>Contact Us</li>
                        <li>Delivery</li>
                        <li>Returns</li>
                        <li>Help & FAQs</li>
                        <li>Store Finder</li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="copyright">
                Copyright Limited &copy; 2020. All Rights Reserved
            </div>
        </div>
    </div>
</footer>

{% endblock %}