{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay-bg h-100">
        <div class="max-width mx-auto">
            <!--onsubmit="return sendMail(this);-->
            <form id="form" onsubmit="return validateForm()" class="contact-form container col-12 input-border overlay-bg-2" action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                <h2 class="text-center title-font">Contact Us</h2>
                <hr>
                <p class="text-center">How can we help you today? <a href="{% url 'home' %}">Home</a></p>
                   <div class=" col-lg-12 col-sm-12 col-xs-12 mb-3">
                        <input type="text" onblur="validateName(name)" name="name" class="form-control" id="name" placeholder="Name"/>
                        <i id="failureIcon" class="fas fa-exclamation-circle failure-icon"></i>
                        <i id="successIcon" class="far fa-check-circle success-icon"></i>
                        <div id="errorMsg">Name cannot be blank</div>
                    </div>
                    
                    <div class=" col-lg-12 col-sm-12 col-xs-12 mb-3">
                        <input type="text" onblur="validateEmail(name)" name="emailaddress" class="form-control " id="emailaddress"
                            placeholder="E-mail address"/>
                            <i id="emailFailureIcon" class="fas fa-exclamation-circle failure-icon"></i>
                            <i id="emailSuccessIcon" class="far fa-check-circle success-icon"></i>
                            <div id="emailError">Enter a valid email address</div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12  form-actions">
                        <textarea rows="6" onblur="validateMessage(name)" name="message" class="form-control" id="message"
                            placeholder="Write a message.." ></textarea>     
                        <i id="msgFailureIcon" class="fas fa-exclamation-circle failure-icon"></i>
                        <i id="msgSuccessIcon" class="far fa-check-circle success-icon"></i>
                        <div id="messageError">Message cannot be blank</div>
                        <button id="submit" type="submit" class=" btn btn-black w-100">Send us a message</button>        
                    </div> 
            </form>
        </div>
    </div>

{% endblock %}
