@import url(//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css);
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: 'Squada One', cursive;
    --bs-body-font-size: 1rem;
    --bs-body-color: #0c0e0f;
    --bs-body-bg: #fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
 
}

body {
    position: relative;
    height: calc(100vh - 164px);
    font-family: Arial, Helvetica, sans-serif;
}

#sidebar-overlay{
    display: none;
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.home img{
    position: relative;
    width: 100%;
}

/* ------------ Header styling */
.offers{
    width: 100%;
    padding: 0;
    background: rgb(199, 31, 64);
}

.offers p{
    font-weight: 600;
    font-size: 2vw;
    text-align: center;
    color: var(--bs-light);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


.bg-color {
    background: var(--bs-body-color) !important;
    color: white !important;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font strong{
    text-transform: uppercase;
    font-size: 45px;
    padding: 1px 30px;
    background-color: var(--bs-white) !important;
    font-family: 'Squada One', cursive;
}


.title{
    font-size: 28px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
}

.banner-font{
    font-size: 14px;
    line-height: 1.2;
    color: var(--bs-info);
}

.banner-font span{
    color: var(--bs-white);
}
    
.main-logo-link {
    text-align: center;
}

/* ---------------------- Category images */
.hover1 img{
    height: calc(500px - 10vh);
}

.card-body{
    padding: 0;
}


/* -------------------------- all buttons */
.shop-now-button {
    background: var(--bs-body-color);
    color: var(--bs-white);
    border-radius: 0;
    width: 100%;
}

.btn-black {
    background: rgb(0, 0, 0);
    color: var(--bs-white);
    z-index: 0 !important;
   
}

.btn-black2 {
    background: var(--bs-white) !important;
    color: var(--bs-body-color);
}

.btn-outline-black{
    background: var(--bs-white);
    color: black !important;
    border: 1px solid black;
  
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus{
    background: black;
    color: var(--bs-white) !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: var(--bs-gray-700);
    color: rgb(247, 247, 247);
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item{
    cursor: pointer;
}

.font-size a{
    width: 150px;
    border: 1px solid white;
    font-size: 14px;
}

.font-size a:hover{
    text-decoration: underline;
}

.text-black{
    color: black;
}

.border-black {
    border: 1px solid black !important;
}

.banner-color{
    background: var(--bs-gray-dark);
}

.list li{
	margin: 5px 10px;
    display: inline-block;
}

.list{
    text-align: right;
    background: var(--bs-body-color);
	font-size: 13px;
}

.list a{
    color: white;
}

.list a:hover{
	text-decoration: underline;}

.category{
    height: 100vh;
} 

.banner{
    margin-top: 28px;
    width: 100%;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.dropdown-menu{
    padding: 10px;
}

.dropdown-item{
    padding: 5px;

}

/* ----------------- scroll up button */
.scroll-up-btn {
    position: fixed;
    height: 48px;
    width: 48px;
    background: none;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    background: black;
    border: 1px solid white;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: visible;
}

.scroll-up-btn:hover {
    background: rgb(49, 49, 49);
    color: rgb(240, 240, 240);
}

/* ----------------------- product card hover */
.hover1 figure img {
    -webkit-transform: scale(1);
	transform: scale(1);
    background-size: cover;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}

.hover1 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

figure {
	overflow: hidden;
}

/* ------------------------------ Footer */
.footer{
    position: relative;
	background: var( --bs-body-color);
	color: var(--bs-white);
	font-size: 14px;
    border-top: 10px solid var(--bs-info);
    width: 100%;
    bottom: 0;
	padding: 60px 0 20px;}

.footer a{
    color: white;
    text-decoration: none;
}

.footer h4{
	color: var(--bs-white);;
	margin-bottom: 20px;
    font-size: 20px;
}

.footer ul{
	list-style-type: none;
	line-height: 35px;
}

.h5{
    font-size: 17px !important;
}

.footer a:hover{
	color: var(--bs-cyan) ;
}	
  
.footer hr{
	border: none;
	background: var(--bs-white);
	height: 1px;
	margin: 20px 0;}

.social-media{
    padding: 0.5rem 0.5rem;
    margin: 0.8rem 0.2rem;
    font-size: 1rem;
    border: 1px solid var(--bs-light);
    color: var(--bs-white);
    border-radius: 50%;
}

.fa-facebook-f{
    padding: 0.5rem 0.8rem;
}

.fa-twitter,
.fa-instagram,
.fa-pinterest-p{
    padding: 0.5rem 0.6rem;
}

.social-media:hover{
    color: var(--bs-info);
    transform: translateY(3px);
}

/* card payment images */
.app-logo img{
    width: 40px;
}

.card1{
    background: url("/media/sneakers6.jpg");
    width: 50px;
}

.card-title{
    font-weight: 600;
    font-size: 30px;
    text-transform: capitalize;
    color: var(--bs-body-color);
    font-family: 'Archivo Black', sans-serif;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: absolute;
    top: 95px;
    right: 10px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 70px;
}

/* variables from Bootstrap */
.arrow-primary {
    border-bottom-color: var(--bs-primary) !important;
}

.arrow-secondary {
    border-bottom-color: var(--bs-gray-600) !important;
}

.arrow-success {
    border-bottom-color: var(--bs-success) !important;
}

.arrow-danger {
    border-bottom-color: var(--bs-danger) !important;
}

.arrow-warning {
    border-bottom-color: var(--bs-warning) !important;
}

.arrow-info {
    border-bottom-color: var(--bs-info) !important;
}

.arrow-light {
    border-bottom-color: var(--bs-light) !important;
}

.arrow-dark {
    border-bottom-color: var(--bs-gray-900) !important;
}

.bag-notification-wrapper {
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* --------------- Allauth form formatting */
.overlay-2{
    background: var(--bs-gray-200) !important;
}

.account{
    padding: 50px;
    background: white;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* --------------------- product rating */
.fa-star{
    color: var(--bs-yellow);
    cursor: pointer;
}

/* ------------------- Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* ------------------ Contact Form */
.input-border textarea,
.input-border input{
    border: 1px solid black;
    border-radius: 0;
}

.overlay-bg{
    background: var(--bs-gray-200);
}

.overlay-bg-2 button{
    border-radius: 0;
}

.overlay-bg-2{
    position: relative;
    top: 100px;
    background: white;
    padding:  40px;
}

/* -------------- code pen from flickity.com */
.carousel {
  background: none;
  margin-bottom: 4rem;
}

.carousel-cell {
  width: 290px;
  margin-right: 10px;
  background: none;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.flickity-button,
.flickity-prev-next-button{
    top: 11rem !important;
}

.carousel-img{
    width: 100%;
    height: 360px;
}

/* --------------- Mobile menu-bar */
.menu-bar {
    width: 35px;
    height: 3px;
    background-color: var(--bs-white);
    margin: 6px 0;
}

.ads{  
    height: 30rem;
    width: 100%;
    background: var(--bs-gray-900);
    color: white;
}


/* ------------- App download */
.app-store{
	margin: 25px 0 25px;
	text-align: center;}
	
.app-store h1{
	margin-top: 20px;
	font-family: var(--bs-body-font-family);
	font-weight: 100;}

.app-store-logo img{
    width: 10%;
}

.app {
	width: 100%;
	background: none;
	padding: 10px;}

.app h1{
	font-size: 50px;}	
	
.app p{
    color: #494949;
    margin-top: 10px;
    font-size: 20px;
}
/* ------------------ Message success!*/
.fa-check{
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    position: relative;
    color: var(--bs-success);
}
.success-message{
    font-size: 50px;  
}

#accordion{
    cursor: pointer;
}

#wishList:hover{
    color: rgb(214, 39, 62); 
}

#wishList{
    display: block;
    position: absolute;
    padding: 10px;
    border-radius: 50%;
    color: black;
    z-index: 9999999;
    font-size: 20px;
    background: rgb(235, 235, 235);
    cursor: pointer;
    top: 10px;
    left: 10px;
}

#addList{
    display: none;
    position: absolute;
    padding: 10px;
    border-radius: 50%;
    color: rgb(214, 39, 62);
    z-index: 9999999;
    font-size: 20px;
    background: rgb(235, 235, 235);
    cursor: pointer;
    top: 10px;
    left: 10px;
}

#fa-heart{
    top: 7px;
    right: 22rem;
    font-size: 22px;
    position: absolute;
    color: white;
    transition: transform 0.2s;
}

#fa-heart:hover{
    color: rgb(214, 39, 62);
    transform: scale(1.5);
    
}

.saved-items{
    padding: 20px;
    background: var(--bs-gray-300);
}

.fa-heart-broken{
    color: rgba(71, 71, 71, 0.15);
    margin-top: 40px;
    font-size: 100px;
}


/* --------------------------- Email validation */

.contact-form i{
    position: absolute;
    padding: 10px;
}

.form-control{ 
    margin: 0 0 20px;
}

form input:focus, 
form textarea:focus {
    border: 3px solid var(--bs-info) !important;
    box-shadow: none var(--bs-info) !important;
    -moz-box-shadow: 0 0 3px var(--bs-info) !important;
    -webkit-box-shadow: 0 0 3px var(--bs-info) !important;
} 

.success-icon,
.failure-icon {
    right: 15px;
    opacity: 0;
}
  
.failure-icon,
.error,
#emailSuccessIcon,
#messageError {
    color: red;
}

#errorMsg,
#emailError{
    position: absolute;
    display: none;
    z-index: 10;
    font-size: 12px;
    color: red;
    bottom: -20px;
}

#messageError{
    position: absolute;
    display: none;
    z-index: 10;
    font-size: 12px;
    bottom: 40px;
}

.success-icon,
#successIcon,
#emailSuccessIcon,
#msgSuccessIcon{
    color: green;
}
  
.failure-icon,
.success-icon,
#successIcon,
#emailFailureIcon,
#emailSuccessIcon{
    font-size: 14.5px;
    top: 2px;
}

.update-link small,
.remove-item small{
    border: 2px solid rgb(212, 212, 212);
    padding: 5px 8px;
    border-radius: 5%;
    color: black !important;
    font-weight: 600 !important;
}

.delivery-img img{
    width: 10%;
}

.cat-top {
   width: 100%; 
}

/* Bootstrap Accordion*/

.card-header {
   
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.03);
}

.comments{
    margin-top: 5rem;
}

#accordion{
    width: 67%;
}

/* ----------- Star ratting */
 
.input{
    display: none;
}

.rating label::before{
    content: '\f005';
    font-family: FontAwesome;
    font-size: 1.5rem;
    font-style: solid;
    display: inline-block;
    cursor: pointer;
}

.rating .half::before{
    content: '\f089';
    position: absolute;
    cursor: pointer;
}

.rating label{
    color: #ddd;
    float: left;
    cursor: pointer;
}

.rating .input:checked  label,
.rating:not(:checked)  label::before,
.rating:not(:checked)  label:hover label{
    color: #0d6efd;
}

/* -------------------- Media Queries */
@media (max-width: 1370px) {
    .font-size a{
        width: 100px;
        border: 1px solid white;
        font-size: 12px;
    }
    
    .social-media{
        padding: 0.5rem 0.5rem;
        margin: 0.8rem 0.1rem;
        font-size: 15px;
        border: 1px solid var(--bs-light);
        color: var(--bs-white);
        border-radius: 50%;
    }

    .fa-facebook-f{
        padding: 0.5rem 0.8rem;
    }
    
    .fa-twitter,
    .fa-instagram,
    .fa-pinterest-p{
        padding: 0.5rem 0.6rem;
    }

    .footer ul li{
        font-size: 15px;
    }

    .pad {
        padding: 0 5px;
    }

    .app p{
        color: #494949;
        margin-top: 10px;
        font-size: 25px;
    }

    .app h1{
        font-size: 60px;
    }

   
    .hover1 img{
        height: 300px;
    }
    
    .app{
        background: none;
        padding: 10px;
    }
    
    .app-store-logo img{
        width: 14%;
    }
    
    .app-store h1{
        font-size: 40px;
    }
    
    .app p{
        font-size: 18px;
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    .max-width{
        max-width: 50% !important;
    } 

    .shop-now-button{
        position: relative;
        width: 50%;  
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 100px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 50px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .navbar{
        padding: 2px 20px;
    }

    .navbar-nav {
        position: relative;
        padding: 0;
    }

    .nav-overlay-content {
        width: 450px !important;
        padding: 0 ;
        top: 150px; 
    }
     
    .mobile-search-bar{
        top: 0;
        position: absolute;
        width: 470px;
    }
 
    .navbar-nav a{
        padding: 0;
        margin-top: 10px;
    }

    .fa-user{
        position: relative;
        left: 10px;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        position: relative;
        top: 8px;
        margin: 0 2px;
        font-size: 1.1rem;
    }

    .nav-link p{
        position: relative;
        display: none;
        top: 20px;
        font-size: 10px;
    }

    /* Code sorced from Bootstrap and 
    customize to fit the projects needs.*/
    .carousel-control-next-icon, 
    .carousel-control-prev-icon {
        display: inline-block;
        width: 70px !important;
        height: 70px !important;
    }

    .carousel-indicators li {
        height: 5px;
        width: 50px;
        background-color: rgb(255, 255, 255);
        background-clip: padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease;

    }

    ol{
        margin-bottom: 6rem;
    }
    
    /* end ------------- */

    .navbar-toggler {
        padding: 0;
    }

    .mobile-icon{
        position: relative;
        bottom: 7px;   
    }

    .app-logo img{
        height: 20px;
        font-size: 10px;
    }

    .logo-font strong {
        position: relative;
        text-transform: uppercase;
        font-size: 45px;
        top: 10px;
        padding: 2px 20px;
        width: 100%;
        color: var(--bs-body-color) !important;
        font-family: 'Squada One', cursive;
    }
    
    .navbar{
        top: 0;
        position: fixed;
        z-index: 999999999;
    }

    #delivery-banner{
        position: relative;
        top: 61px;
    }
    
    .dropdown-item {
        font-size: 15px !important;
    }

    .home{
        position: relative;
        margin-top: 0;
    }

    .offers{
        margin-top: 60px;
        padding: 5px;
        width: 100%;
        height: 50px;
    }

    .offers p{
        font-size: 25px;
    }

    /* ---------- nav menu curtain*/
    .nav-overlay a {
        font-size: 20px
    }

    .nav-overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
     
    #myNav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: var(--bs-white);
        overflow-x: hidden;
        transition: 0.2s;
    }

    .social-media {
        position: relative;
        margin: 0 10px !important;
        color: rgb(255, 255, 255);
    }

    .mobile-menu-header{
        position: absolute;
        text-transform: uppercase;
        font-size: 27px;
        margin: auto 0;
        width: 100%;
        text-align: center;
        top: 12px;
        background-color: var(--bs-white) !important;
        font-family: 'Squada One', cursive;
    }
    
    .menu-social{
        margin: 0 auto;
        display: inline;
    }

    .social-img {
        position: absolute;
        text-align: center;
        padding: 0;
        top: 80%;  
    }

    .menu-app{
        position: relative;
        top: 40%;
        padding: 15px;
        font-family: 'Squada One', cursive; 
    }

    .menu-app p{
        font-size: 6vw;
    }

    .line-white{
        color: white;
        background: white;
    }
     
    .nav-overlay-content {
        position: absolute;
        top: 20%;
        left: 20px;
        text-align: left;
        margin-top: 30px;
        transition: 0.5s;
    }
     
    .nav-overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        display: block;  
    }
     
    .nav-overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
     
    .nav-overlay .closebtn{
        position: absolute;
        color: black;
        margin: 0;
        padding: 0;
        right: 20px;
        top: 0;
        font-size: 38.5px;
    }

    #specials-link,
    #accessories-link,
    #clothing-link,
    #all-products-link {
        color: black !important;
        font-size: 17px;
        padding: 0;
    }


    .mobile-search-bar{
        margin-top: 80px;
    }

    /* ----------------- footer accordion */
    .card-header{
        background: rgb(255, 255, 255);
        border: none;
    }


    .collapse{
        border-radius: 0 !important;
    }

    .carousel-cell {
        width: 180px;
        margin-right: 10px;
        background: none;
        border-radius: 5px;
        counter-increment: carousel-cell;
    }

    .carousel-img{
        width: 100%;
        height: 250px;
    }

    .flickity-button,
    .flickity-prev-next-button{
        top: 8rem !important;
    }

    .app-store-logo img{
        width: 25%;
    }

    .app p{
        color: #494949;
        margin-top: 10px;
        font-size: 20px;
    }
    .app h1{
        font-size: 40px;
    }

    .title-font,
    .title-font strong{
        text-align: center;
        margin-top: 60px !important;
    }

    .banner h4{
        margin: 20px 0;
    }

    #delivery-banner{
        margin-top: 18px;
    }

    .banner-font{
        font-size: 14px;
    }

    .btn{
        width: 100%;
    }

    .btn-mobile{
        margin-top: 10px;
        padding: 10px;
        width: 100% !important;
    }

    .mobile-width-100{
        width: 100% !important;
    }
    .custom-toast{
        position: relative;
        bottom: 45px;
    }

    .arrow-up {
        width: 0; 
        height: 0; 
        border-left: 4px solid transparent;
        border-right: 4px solid transparent; 
        border-bottom: 10px solid black;
        position: absolute;
        top: -10px;
        right: 25px;
    }

    .message-container {
        position: fixed;
        top: 95px;
        right: 10px;
        z-index: 99999999999;
    }

    .carousel-home {
        background: none;
        margin-bottom: 4rem;
        height: 100%; 
        width: 100%; 
    }
  
    .cell-hero {
        width: 100%;
        background: none;
        border-radius: 5px;
        counter-increment: carousel-cell;
    }
  
    .carousel-hero-img{
        width: 100%;
        height: 900px;
    }

    .cell-hero p{
        position: absolute;
        top: 6%; right: 70%;
        transform: translate(50%,-50%);
        width: 100%;
        text-align: center;
        font-size: 70px;
        z-index: 99999;
        text-transform: uppercase;
        font-family: 'Archivo Black', sans-serif;
        /* code sorced from css-tricks.com ----*/
        -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(255, 255, 255, 0.541);
    }

    .cell-hero span-1{
        position: absolute;
        top: 6%; right: 50%;
        transform: translate(50%,-50%);
        width: 100%;
        text-align: center;
        font-size: 65px;
        z-index: 99999;
        text-transform: uppercase;
        font-family: 'Archivo Black', sans-serif;
        /* code sorced from css-tricks.com ----*/
        -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(255, 255, 255, 0.808);
    }

    .cell-hero span-2{
        position: absolute;
        top: 6%; right: 50%;
        transform: translate(50%,-50%);
        width: 100%;
        text-align: center;
        font-size: 65px;
        z-index: 99999;
        text-transform: uppercase;
        font-family: 'Archivo Black', sans-serif;
        color: rgb(255, 255, 255);

         /* code sorced from css-tricks.com ----*/
         -webkit-text-fill-color: rgb(255, 255, 255); /* Will override color (regardless of order) */
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: rgba(75, 75, 75, 0.445)
    }

    .cell-hero small{
        position: absolute;
        top: 15%; right: 50%;
        transform: translate(50%,-50%);
        width: 100%;
        text-align: center;
        font-size: 70px;
        z-index: 99999;
        text-transform: uppercase;
        font-family: 'Archivo Black', sans-serif;
        color: white;
    }

    .cell-hero span a{
        position: absolute;
        top: 75%; right: 50%;
        transform: translate(50%,-50%);
        text-align: center;
        font-size: 25px;
        z-index: 99999;
        width: 35%;
        padding: 20px;
        text-decoration: none;
    }

    .custom-col{
        padding: 0 5px;
    }

    #accordion{
        width: 100%;
    }

    .hover1 img{
        height: 400px;
    }
}

/* fixed top navbar only on medium and up */
@media (max-width: 527px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

/* -------------- code pen from flickity.com */
    .cell-hero {
        width: 100%;
        background: none;
        border-radius: 5px;
        counter-increment: carousel-cell;
    }
  
    .carousel-hero-img{
        width: 100%;
        height: 600px;
    }

    ul {
        padding: 0;
    }

    /* Code sorced from Bootstrap and 
    customize to fit the projects needs.*/
    .carousel-control-next-icon, 
    .carousel-control-prev-icon {
        display: inline-block;
        width: 50px !important;
        height: 50px !important;
    }

    .carousel-indicators li {
        height: 3px;
        width: 40px;
        background-color: rgb(255, 255, 255);
        background-clip: padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease;
    }
    /* end ------------- */

    /* sidebar menu overlay */
    .nav-overlay-content {
       width: 250px !important;
        padding: 0 ;
        top: 150px; 
    }
    
    .mobile-search-bar{
        top: 0;
        position: absolute;
        width: 270px;
    }

    .navbar-nav a{
        padding: 0;
        margin-top: 10px;
    }

    .header-container {
        padding-top: 0;
    }

    hr{
        padding: 0;
        margin: 7px 0;
    }

    ol{
        margin-bottom: 5rem;
    
    }
    

    .footer{
        width: 100%;
        bottom: 0;
        left: 0;
    }
    .overlay-bg-2{
        top: 0;
        background: white;
        padding:  5px;
    }

    .logo-font strong {
        position: relative;
        width: 100%;
        text-transform: uppercase;
        font-size: 25px;
        bottom: 4px;
        padding: 3px 15px;
        background-color: var(--bs-white) !important;
        font-family: 'Squada One', cursive;    
    }

    .pad {
        padding: 0 15px;
    }

    .banner{
        margin: 20px 0;
    }

    .banner-font{
        font-size: 12px;
    }

    #delivery-banner{
        margin-top: 0;
    }

    .title{
        margin: 20px 0 0 0;
        font-size: 20px;
    }
   
    .title-font,
    .title-font strong{
        text-align: center;
        margin-top: 60px !important;
    }
    
    .decrement-qty,
    .increment-qty{
        padding: 0 10px;
    }

    .shop-now-button {
        font-size: 3vw;
    }

   

    .hover1 img{
        height: 190px;
    }
    
    .btn{
        font-size: 4vw;
        width: 100%;
    }

    .btn-mobile{
        margin-top: 10px;
        padding: 10px;
        width: 100% !important;
    }

    .mobile-width-100{
        width: 100% !important;
    }

    .overlay-bg{
        background: none;
    }

    .menu-social{
        margin: 0 auto;
        display: inline;
    }

    .social-img {
        position: absolute;
        text-align: center;
        padding: 0;
        top: 90%;  
    }

    .mobile-footer{
        position: relative;
        font-size: 13px;
        font-weight: 600;
        padding: 8px;
        width: 100%;
        background: var(--bs-body-color);
        top: 80%;  
    }
    .menu-app{
        position: relative;
        top: 40%;
        padding: 15px;
        font-family: 'Squada One', cursive;
    }

    .app-store-logo img{
        width: 30%;
    }

    .app p{
        color: #494949;
        margin-top: 10px;
        font-size: 10px;
    }
    .app h1{
        font-size: 35px;
    }

    .app h1 span{
        font-size: 20px;
    }

    .app{
        padding: 10px;
    }

    .delivery-img img{
        width: 20%;
    }
    
    .arrow-up {
        width: 0; 
        height: 0; 
        border-left: 4px solid transparent;
        border-right: 4px solid transparent; 
        border-bottom: 10px solid black;
        position: absolute;
        top: -10px;
        right: 25px;
    }

    .custom-toast{
        position: relative;
        bottom: 40px;
    }

    .message-container {
        position: fixed;
        top: 95px;
        right: 10px;
        z-index: 99999999999;
    }

    .cell-hero p{
        position: absolute;
        top: 6%; right: 70%;
        transform: translate(50%,-50%);
        width: 100%;
        text-align: center;
        font-size: 50px;
        z-index: 99999;
        text-transform: uppercase;
        font-family: 'Archivo Black', sans-serif;
        /* code sorced from css-tricks.com ----*/
        -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(255, 255, 255, 0.541);
    }

    .cell-hero span-1{
        position: absolute;
        top: 6%; right: 50%;
        transform: translate(50%,-50%);
        width: 100%;
        text-align: center;
        font-size: 45px;
        z-index: 99999;
        text-transform: uppercase;
        font-family: 'Archivo Black', sans-serif;
        /* code sorced from css-tricks.com ----*/
        -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(255, 255, 255, 0.808);
    }
    .cell-hero span-2{
        position: absolute;
        top: 6%; right: 50%;
        transform: translate(50%,-50%);
        width: 100%;
        text-align: center;
        font-size: 45px;
        z-index: 99999;
        text-transform: uppercase;
        font-family: 'Archivo Black', sans-serif;
        color: rgb(255, 255, 255);

         /* code sorced from css-tricks.com ----*/
         -webkit-text-fill-color: rgb(255, 255, 255); /* Will override color (regardless of order) */
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: rgba(75, 75, 75, 0.445)
    }


    .cell-hero small{
        position: absolute;
        top: 15%; right: 50%;
        transform: translate(50%,-50%);
        width: 100%;
        text-align: center;
        font-size: 50px;
        z-index: 99999;
        text-transform: uppercase;
        font-family: 'Archivo Black', sans-serif;
        color: white;
    }

    .cat-top{
        height: 225px !important;
        width: 100%;
    }

    .cell-hero span a{
        position: absolute;
        top: 75%; right: 50%;
        transform: translate(50%,-50%);
        text-align: center;
        font-size: 17px;
        z-index: 99999;
        width: 40%;
        padding: 10px;
        text-decoration: none;
    }

    .custom-col{
        padding: 0 5px;
    }

    .card-title{
        font-size: 22px;
        font-weight: 200;
    }

    .card-body p{
        font-size: 15px;
        line-height: 1;
    }

    #accordion{
        width: 100%;
    }

    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(255, 255, 255, 0.03);
    }

    .card-header h4{
        font-size: 20px;
        float: left;
    }
}

@media (max-width: 360px) {
    .logo-font strong {
        position: relative;
        top: 2px;
        font-size: 16px;   
    }

    .menu-app{
        position: relative;
        top: 34%;
        padding: 15px;
        font-family: 'Squada One', cursive;
    }
    
    .btn{
        font-size: 4vw;
        width: 100%;
    }

    .nav-overlay-content {
        width: 210px !important;
        padding: 0 ;
        top: 150px; 
    }
     
    .mobile-search-bar{
        top: 0;
        position: absolute;
        width: 220px;
    }
 
    .navbar-nav a{
        padding: 0;
        margin-top: 10px;
    }

    .cell-hero p{
        position: absolute;
        top: 8%; right: 70%;
        transform: translate(50%,-50%);
        width: 100%;
        text-align: center;
        font-size: 50px;
        z-index: 99999;
        text-transform: uppercase;
        font-family: 'Archivo Black', sans-serif;
        /* code sorced from css-tricks.com ----*/
        -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(255, 255, 255, 0.541);
    }

    .cell-hero span-1{
        position: absolute;
        top: 6%; right: 50%;
        transform: translate(50%,-50%);
        width: 100%;
        text-align: center;
        font-size: 35px;
        z-index: 99999;
        text-transform: uppercase;
        font-family: 'Archivo Black', sans-serif;
        /* code sorced from css-tricks.com ----*/
        -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(255, 255, 255, 0.808);
    }
    .cell-hero span-2{
        position: absolute;
        top: 6%; right: 50%;
        transform: translate(50%,-50%);
        width: 100%;
        text-align: center;
        font-size: 35px;
        z-index: 99999;
        text-transform: uppercase;
        font-family: 'Archivo Black', sans-serif;
        color: rgb(255, 255, 255);

         /* code sorced from css-tricks.com ----*/
         -webkit-text-fill-color: rgb(255, 255, 255); /* Will override color (regardless of order) */
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: rgba(75, 75, 75, 0.445)
    }


    .cell-hero small{
        position: absolute;
        top: 20%; right: 50%;
        transform: translate(50%,-50%);
        width: 100%;
        text-align: center;
        font-size: 50px;
        z-index: 99999;
        text-transform: uppercase;
        font-family: 'Archivo Black', sans-serif;
        color: white;
    }

    .cell-hero span a{
        position: absolute;
        top: 75%; right: 50%;
        transform: translate(50%,-50%);
        text-align: center;
        font-size: 15px;
        z-index: 99999;
        width: 40%;
        padding: 8px;
        text-decoration: none;
    }

    .cell-hero {
        width: 100%;
        background: none;
        border-radius: 5px;
        counter-increment: carousel-cell;
    }
  
   
    .carousel-hero-img{
        width: 100%;
        height: 450px;
    }

    .col-sm-6{
        padding: 0 5px;
    }

    
    ol{
        margin-bottom: 2rem;
    }

    .offers {
        margin-top: 60px;
        padding: 5px;
        width: 100%;
        height: 35px;
    }

    .offers p{
       font-size: 18px;
    }
    
 
}
