/* The code in this file has been sourced from the code institute tutorial 
and customized by the developer to fit the projects needs*/
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #0c0e0f;
    --bs-body-bg: #fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    position: relative;
    height: calc(100vh - 164px);
    font-family: Arial, Helvetica, sans-serif;
}

.home{
    position: relative;
    background: url('/media/womens-banner.jpg') no-repeat center center;
    background-size: cover;
    height: calc(700px - 20%);
    width: 100%;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------ Header styling */
.offers{
    width: 100%;
    padding: 20px;
    font-weight: 600;
    font-size: 3vw;
    text-align: center;
    color: var(--bs-light);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
}

.bg-color {
    background: var(--bs-body-color) !important;
    color: white !important;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/*.crown-logo{
    position: relative;
    bottom: 4px;
    width: 55px;
}*/

.logo-font strong{
    text-transform: uppercase;
    font-size: 45px;
    padding: 1px 30px;
    background-color: var(--bs-white) !important;
    font-family: 'Squada One', cursive;
}

.title{
    font-size: 35px;
    margin-top: 60px;
    font-weight: 600;
    font-family: 'Squada One', cursive;
    text-decoration: underline;
    text-transform: uppercase;
}

.banner-font{
    font-size: 16px;
    line-height: 1.2;
    color: var(--bs-info);
}

.banner-font span{
    color: var(--bs-white);
}
    
.main-logo-link {
    text-align: center;
}

.hover1 img{
    height: calc(500px - 10vh);
}

.card-body{
    padding: 0;
 
}

/* -------------------------- all buttons */
.shop-now-button {
    background: var(--bs-body-color);
    color: var(--bs-white);
    border-radius: 0;
    width: 100%;
}

.btn-black {
    background: rgb(0, 0, 0);
    color: var(--bs-white);
    z-index: 0 !important;
}

.btn-black2 {
    background: var(--bs-white) !important;
    color: var(--bs-body-color);
}

.btn-outline-black{
    background: var(--bs-white);
    color: black !important;
    border: 1px solid black;
  
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus{
    background: black;
    color: var(--bs-white) !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: var(--bs-gray-700);
    color: rgb(247, 247, 247);
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item{
    cursor: pointer;
}

.font-size a{
    width: 150px;
    border: 1px solid white;
    font-size: 14px;
}

.font-size a:hover{
    text-decoration: underline;
}

.text-black{
    color: black;
}

.border-black {
    border: 1px solid black !important;
}

.banner-color{
    background: var(--bs-gray-dark);
}

.list li{
	margin: 5px 10px;
    display: inline-block;
}

.list{
    text-align: right;
    background: var(--bs-body-color);
	font-size: 13px;
}

.list a{
    color: white;
}

.list a:hover{
	text-decoration: underline;}

.category{
    height: 100vh;
} 

.banner{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    background-size: contain;  
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}


/* ----------------- scroll up button */
.scroll-up-btn {
    position: fixed;
    height: 48px;
    width: 48px;
    background: none;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    background: black;
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: visible;
}

.scroll-up-btn:hover {
    background: rgb(49, 49, 49);
    color: rgb(240, 240, 240);
}

/* ----------------------- product card hover */
.hover1 figure img {
    -webkit-transform: scale(1);
	transform: scale(1);
    background-size: cover;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}

.hover1 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

figure {
	overflow: hidden;
}

/* ------------------------------ Footer */
.footer{
    position: relative;
	background: var( --bs-body-color);
	color: var(--bs-white);
	font-size: 15px;
    width: 100%;
    bottom: 0;
  
	padding: 60px 0 20px;}

.footer p{
	color: var(--bs-white);
}

.footer h4{
	color: var(--bs-white);;
	margin-bottom: 20px;
    font-size: 20px;
}

.footer ul{
	list-style-type: none;
	line-height: 30px;
}

.links:hover{
    cursor: pointer;
    text-decoration: underline;
	color: var(--bs-cyan)}	

.footer hr{
	border: none;
	background: var(--bs-white);
	height: 1px;
	margin: 20px 0;}

.social-media{
    font-size: 20px;
    margin: 40px 20px 0;
    color: var(--bs-white);
}


.card1{
    background: url("/media/sneakers6.jpg");
    width: 50px;
}

.card-title{
    font-weight: 600;
    font-size: 30px;
    text-transform: capitalize;
    color: var(--bs-body-color);
    font-family: 'Squada One', cursive;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 92px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* variables from Bootstrap */
.arrow-primary {
    border-bottom-color: var(--bs-primary) !important;
}

.arrow-secondary {
    border-bottom-color: var(--bs-gray-600) !important;
}

.arrow-success {
    border-bottom-color: var(--bs-success) !important;
}

.arrow-danger {
    border-bottom-color: var(--bs-danger) !important;
}

.arrow-warning {
    border-bottom-color: var(--bs-warning) !important;
}

.arrow-info {
    border-bottom-color: var(--bs-info) !important;
}

.arrow-light {
    border-bottom-color: var(--bs-light) !important;
}

.arrow-dark {
    border-bottom-color: var(--bs-gray-900) !important;
}

.bag-notification-wrapper {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* --------------- Allauth form formatting */
.overlay-2{
    background: var(--bs-gray-200) !important;
}

.account{
    padding: 50px;
    background: white;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

.fa-star{
    color: var(--bs-yellow);
    cursor: pointer;
}

/* ------------------- Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* ------------------ Contact Form */
.input-border textarea,
.input-border input{
    border: 1px solid black;
    border-radius: 0;
}

.overlay-bg{
    background: var(--bs-gray-200);
}

.overlay-bg-2 button{
    border-radius: 0;
}

.overlay-bg-2{
    position: relative;
    top: 100px;
    background: white;
    padding:  40px;
}

/* -------------- code pen from flickity.com */
.carousel {
  background: none;
  margin-bottom: 4rem;
}

.carousel-cell {
  width: 20%;
  margin-right: 10px;
  background: none;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/*.carousel-cell.is-selected {
  background: var(--bs-body-color);
  color: white;
}*/

.carousel-img{
    width: 100%;
    height: 360px;
}

/* --------------- Mobile menu-bar */
.menu-bar {
    width: 35px;
    height: 3px;
    background-color: var(--bs-white);
    margin: 6px 0;
}

.ads{  
    height: 30rem;
    width: 100%;
    background: var(--bs-gray-900);
    color: white;
}
.find-us img{
    padding-top: 25px;
    display: flex;
    margin: 0 auto;
    height: 300px;
    width: 400px;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    .max-width{
        max-width: 50% !important;
    } 

    .shop-now-button{
        position: relative;
        width: 50%;  
    }

}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 100px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 50px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .navbar{
        padding: 2px 20px;
    }

    .home{
        position: relative;
        background: url('/media/streetware-8.jpg') no-repeat center center;
        background-size: cover;
        max-width: 100% !important;
        height: 60%;
        top: 10px;
        width: 100%; 
        font-family: Arial, Helvetica, sans-serif;
    }

    .fa-user{
        position: relative;
        left: 10px;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        position: relative;
        top: 8px;
        margin: 0 2px;
        font-size: 1.1rem;
    }

    .nav-link p{
        position: relative;
        display: none;
        top: 20px;
        font-size: 10px;
    }

    .navbar-toggler {
        padding: 0;
    }

    .mobile-icon{
        position: relative;
        bottom: 7px;   
    }

    .app-logo img{
        height: 20px;
        font-size: 10px;
    }

    .logo-font strong {
        text-transform: uppercase;
        font-size: 25px;
        top: 4px;
        padding: 2px 20px;
        width: 100%;
        color: var(--bs-body-color) !important;
        font-family: 'Squada One', cursive;
    }
    
    .navbar{
        top: 0;
        position: fixed;
        z-index: 999999999;
    }

    #delivery-banner{
        position: relative;
        top: 61px;
    }
    
    .dropdown-item {
        font-size: 15px !important;
      
    }

    .home{
        position: relative;
        margin-top: 0;
    }

    .offers{
        margin-top: 60px;
        width: 100%;
        height: 120px;
        font-size: 30px;
    }

    .offers img{
        display: none;
    }

    /* ---------- nav menu curtain*/
    .nav-overlay a {
        font-size: 20px
    }

    .nav-overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
     
    #myNav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: var(--bs-white);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .social-media {
        padding: 8px;
        position: relative;
        margin: 0 10px !important;
        top: 75%; 
        color: rgb(0, 92, 197);
        
    }

    .fa-instagram{
        color: rgb(119, 15, 204);
    }

    .fa-youtube{
        color: red;
    }

    .mobile-menu-header{
        position: absolute;
        text-transform: uppercase;
        font-size: 27px;
        margin: auto 0;
        width: 100%;
        text-align: center;
        top: 12px;
        background-color: var(--bs-white) !important;
        font-family: 'Squada One', cursive;
    }
    
    .menu-social{
        margin: 0 auto;
        display: inline;
    }

    .social-img {
        position: absolute;
        text-align: center;
        padding: 0;
        top: 80%;  
    }

    .menu-app{
        position: relative;
        top: 40%;
        padding: 15px;
        font-family: 'Squada One', cursive; 
    }

    .menu-app p{
        font-size: 6vw;
    }

    .mobile-footer{
        position: relative;
        top: 70%;
        font-size: 13px;
        font-weight: 600;
        padding: 8px;
        width: 100%;
        background: var(--bs-body-color); 
    }

    .line-white{
        color: white;
        background: white;
    }
     
    .nav-overlay-content {
        position: absolute;
        top: 20%;
        left: 20px;
        text-align: left;
        margin-top: 30px;
        transition: 0.5s;
    }
     
    .nav-overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        display: block;
       
    }
     
    .nav-overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
     
    .nav-overlay .closebtn{
        position: absolute;
        color: black;
        margin: 0;
        padding: 0;
        right: 20px;
        top: 0;
        font-size: 38.5px;
    }


    #specials-link,
    #accessories-link,
    #clothing-link,
    #all-products-link {
        color: black !important;
        font-size: 17px;
        padding: 0;
    }


    .mobile-search-bar{
        margin-top: 80px;
    }

    /* ----------------- footer accordion */
    .card-header{
        background: #000;
    }

    .collapse{
        border-radius: 0 !important;
    }

    .carousel-cell {
        width: 50%;
        margin-right: 10px;
        background: none;
        border-radius: 5px;
        counter-increment: carousel-cell;
    }

    .carousel-img{
        width: 100%;
        height: 250px;
    }
   

}

/* fixed top navbar only on medium and up */
@media (max-width: 500px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .home{
        position: relative;
        background: url('/media/streetware-8.jpg') no-repeat center center;
        background-size: cover;
        height: 35%;
        top: 10px;
        width: 100%; 
        font-family: Arial, Helvetica, sans-serif;
    }

    ul {
        padding: 0;
    }
    
    .header-container {
        padding-top: 0;
    }

    .footer{
       
        width: 100%;
        bottom: 0;
        left: 0;
    }

    .overlay-bg-2{
        top: 0;
        background: white;
        padding:  5px;
    }

    .logo-font strong {
        position: relative;
        width: 100%;
        text-transform: uppercase;
        font-size: 25px;
        bottom: 4px;
        padding: 3px 15px;
        background-color: var(--bs-white) !important;
        font-family: 'Squada One', cursive;    
    }

    .offers{
        margin-top: 60px;
        width: 100%;
        height: 60px;
        font-weight: 500;
        font-size: 14px;
    }

    .banner{
        margin: 20px 0;
    }

    .banner-font{
        font-size: 12px;
    }

    .title{
        margin: 20px 0 0;
        font-size: 25px;
        text-align: center;
    }
   
    .title-font,
    .title-font strong{
        text-align: center;
        margin-top: 50px !important;
    }
    
    .decrement-qty,
    .increment-qty{
        padding: 0 10px;
    }

    .shop-now-button {
        font-size: 3vw;
    }

    .card-title{
        font-size: 4vw;
    }

    .hover1 img{
        height: 190px;
    }

    .btn{
        font-size: 10px;
    }

    .overlay-bg{
        background: none;
    }

    .menu-social{
        margin: 0 auto;
        display: inline;
    }

    .social-img {
        position: absolute;
        text-align: center;
        padding: 0;
        top: 90%;  
    }

    .mobile-footer{
        position: relative;
        font-size: 13px;
        font-weight: 600;
        padding: 8px;
        width: 100%;
        background: var(--bs-body-color);
        top: 80%;  
    }
    .menu-app{
        position: relative;
        top: 40%;
        padding: 15px;
        font-family: 'Squada One', cursive;
     
    }
   
}

@media (max-width: 360px) {
    .logo-font strong {
        font-size: 15px;   
    }

    .menu-app{
        position: relative;
        top: 34%;
        padding: 15px;
        font-family: 'Squada One', cursive;
    }
}
