 <!-- banner Links -->
  
 <div class="app-store">
    <div class="app">
        <h1>Download Our App</h1>
        <p>Get your sneaker fix anytime, anywhwere with the footconnect app.</p>
        <div class="app-store-logo">
            <a href="https://play.google.com/store/search?q=sneakers&hl=en_GB&gl=US" target="_blank">
               <img src="{{ MEDIA_URL }}pngwing.com(9).png" alt="app logo"> 
            </a>
            <a href="https://www.apple.com/uk/app-store/" target="_blank">
                <img src="{{ MEDIA_URL }}pngwing.com(10).png" alt="app logo">
            </a>    
        </div>
    </div>
</div>