<!--Footer Section-->
<footer class="d-none d-lg-block">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-3 ">
                    <div>
                        <div class="h5 mb-3"><i class="fas fa-credit-card"></i> Payment methods we accept</div>
                        <div class="app-logo">
                            <img src="{{ MEDIA_URL }}visa.png" alt="payment card">
                            <img src="{{ MEDIA_URL }}mastercard.png" alt="payment card">
                            <img src="{{ MEDIA_URL }}pngwing.com(7).png" alt="payment card">
                            <img src="{{ MEDIA_URL }}mastercard.png" alt="payment card">
                        </div>
                        <a href="https://www.facebook.com/" target="_blank">
                            <i class="fab fa-facebook-f social-media"></i> 
                        </a>
                        <a href="https://www.twitter.com/" target="_blank">
                            <i class="fab fa-twitter social-media"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class="fab fa-instagram social-media"></i>
                        </a>
                        <a href="https://www.pinterest.com/" target="_blank">
                            <i class="fab fa-pinterest-p social-media"></i>
                        </a>
                        <a href="https://www.youtube.com/" target="_blank">
                            <i class="fab fa-youtube social-media"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-3 ">
                    <ul>
                        <li class="h5"><i class="far fa-file-alt"></i> Useful Links</li>
                        <li><a href="https://en.wikipedia.org/wiki/Coupon" target="_blank">Coupons</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Blog" target="_blank">Blog post</a></li>
                        <li><a href="{% url 'contact' %}">Careers</a></li>
                        <li><a href="https://www.flexoffers.com/affiliate-programs/sports-and-fitness/sportswear/" target="_blank">Affiliates</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-3 ">

                    <ul>
                        <li class="h5"><i class="far fa-thumbs-up"></i> Follow us</li>
                        <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                        <li><a href="https://www.twitter.com/" target="_blank">Twitter</a></li>
                        <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                        <li><a href="https://www.youtube.com/" target="_blank">YouTube</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <ul>
                        <li class="h5"><i class="fas fa-info-circle"></i> Customer Help</li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        <li><a href="{% url 'contact' %}">Returns</a></li>
                        <li><a href="{% url 'contact' %}">Help & FAQs</a></li>
                        <li><a href="{% url 'contact' %}">Store Finder</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="text-center">
                &copy; 2022 Footconnect ltd
            </div>
        </div>
    </div>
</footer>