<div class="nav-overlay navbar-collapse" id="myNav">
    <a href="javascript:void(0)" class="closebtn d-lg-none" onclick="closeNav()">&times;</a>
    <!-- Mobile menu search -->
  
    <form class="d-lg-none container" method="GET" action="{% url 'products' %}">
        <div class="d-lg-none mobile-search-bar input-group">
            <input class="form-control border border-black rounded-0" type="text" name="q"
                placeholder="Search our site..">
            <div class="input-group-append">
                <button class="form-control btn-outline-dark btn-black sidebar-btn rounded-0" type="submit">
                    <span class="icon">
                        <i class="mb-2 fas fa-search"></i>
                    </span>
                </button>
            </div>
        </div>
    </form>
    <ul class="navbar-nav w-auto mx-auto nav-overlay-content">
        <li class="nav-item dropdown ">
            <a class="accordion logo-font nav-link text-white mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <hr>
        <li class="nav-item dropdown">

            <a class="accordion logo-font nav-link text-white mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Men
            </a>

            <div class="dropdown-menu product-menu border-0" aria-labelledby="clothing-link">
                <div class="subnav-content">
                <a href="{% url 'products' %}?category=mens_sportswear" class="dropdown-item">Sportswear &amp;
                    Essentials</a>
                <a href="{% url 'products' %}?category=mens_denim_jeans" class="dropdown-item">Jeans</a>
                <a href="{% url 'products' %}?category=mens_shoes" class="dropdown-item">Shoes</a>
                <a href="{% url 'products' %}?category=hoodies" class="dropdown-item">Hoodies</a>
                <a href="{% url 'products' %}?category=tracksuits" class="dropdown-item">Tracksuits</a>
                <a href="{% url 'products' %}?category=sweatshirts" class="dropdown-item">Sweatshirt</a>
                <a href="{% url 'products' %}?category=mens_shirts" class="dropdown-item">Shirts</a>
                <a href="{% url 'products' %}?category=mens_sportwear,hoodies,sweatshirts,mens_denim_jeans, mens_shoes,mens_shirts"
                    class="dropdown-item">All Clothing</a>
                </div>    
            </div>
        </li>
        <hr>
        <li class="nav-item dropdown">
            <a class="accordion logo-font nav-link text-white mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Women
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=womens_sportswear" class="dropdown-item">Sportswear &amp;
                    Essentials</a>
                <a href="{% url 'products' %}?category=womens_jeans" class="dropdown-item">Jeans</a>
                <a href="{% url 'products' %}?category=womens_shoes" class="dropdown-item">Shoes</a>
                <a href="{% url 'products' %}?category=womens_hoodies" class="dropdown-item">Hoodies</a>
                <a href="{% url 'products' %}?category=womens_tracksuits" class="dropdown-item">Tracksuits</a>
                <a href="{% url 'products' %}?category=womens_sweatshirts" class="dropdown-item">Sweatshirt</a>
                <a href="{% url 'products' %}?category=womens_dresses" class="dropdown-item">Dresses</a>
                <a href="{% url 'products' %}?category=womens_sportswear,womens_dresses,womens_tracksuits,womens_sweatshirts,womens_jeans,womens_shoes"
                    class="dropdown-item">All Clothing</a>
            </div>
        </li>
        <hr>
        <li class="nav-item dropdown">
            <a class="accordion logo-font nav-link text-white mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kids
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=kids_sportswear" class="dropdown-item">Sportswear &amp; Essentials</a>
                <a href="{% url 'products' %}?category=kids_jeans" class="dropdown-item">Jeans</a>
                <a href="{% url 'products' %}?category=mens_shoes,womens_shoes" class="dropdown-item">Shoes</a>
                <a href="{% url 'products' %}?category=kids_hoodies" class="dropdown-item">Hoodies</a>
                <a href="{% url 'products' %}?category=kids_tracksuits" class="dropdown-item">Tracksuits</a>
                <a href="{% url 'products' %}?category=kids_sweatshirts" class="dropdown-item">Sweatshirt</a>
                <a href="{% url 'products' %}?category=kids_t-shirts" class="dropdown-item">T-Shirts</a>
                <a href="{% url 'products' %}?category=kids_sportswear,kids_jeans,mens_shoes,womens_shoes,kids_hoodies,kids_tracksuits,kids_sweatshirts,kids_t-shirts" class="dropdown-item">All Clothing</a>
            </div>
        </li>
        <hr>
        <li class="nav-item dropdown">
            <a class="accordion logo-font nav-link text-white mr-5" href="#" id="accessories-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=caps_hats" class="dropdown-item">Hats &amp; Caps</a>
                <a href="{% url 'products' %}?category=bags" class="dropdown-item">bags &amp; Wallets</a>
                <a href="{% url 'products' %}?category=bags,caps_hats" class="dropdown-item">All Accessories</a>
            </div>
        </li>
        <hr>
        <li class="nav-item dropdown">
           
            <a class="accordion logo-font nav-link text-white" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
       <hr>
    </ul>
</div>
